In [34]:
import pandas as pd

In [35]:
dataset = pd.read_csv('gg_spending.csv')

In [36]:
dataset.head()

,Date,Quarter,Account ID,Account,Currency code,Cost,THB,USD
0,2019-07-01,2019 Q3,1060574409,Richy-Triple Station,THB,160,160,5
1,2019-07-01,2019 Q3,1093935845,Raimon Land - The Lofts Asoke,THB,315,315,10
2,2019-07-01,2019 Q3,1103734268,BINUS School - Serpong,IDR,"1,466",3,47
3,2019-07-01,2019 Q3,1109909698,Sammakorn - Suvarnabhumi (Townhome),THB,29,29,1
4,2019-07-01,2019 Q3,1144314293,JSP J City Sriracha,THB,95,95,3

In [71]:
dataset['Date'] = pd.to_datetime(dataset['Date'])

dataset['THB'].astype(int)

ValueError: invalid literal for int() with base 10: '1,188'

In [38]:
dataset['day'] = dataset['Date'].apply(lambda x: x.day)

In [39]:
dataset.tail()

,Date,Quarter,Account ID,Account,Currency code,Cost,THB,USD,day
29098,NaT,NaN,9892908305,Payday,NaN,NaN,0,NaN,NaN
29099,NaT,NaN,9955963843,Luma Insurance (END),NaN,NaN,0,NaN,NaN
29100,NaT,NaN,9961342054,Znya Organics,NaN,NaN,0,NaN,NaN
29101,NaT,NaN,9973182219,Bidbox,NaN,NaN,0,NaN,NaN
29102,NaT,NaN,9997767590,Keyword Planner,NaN,NaN,0,NaN,NaN

In [40]:
dataset = dataset.dropna()

In [48]:
dataset['month'] = dataset['Date'].apply(lambda x: x.month)

In [52]:
dataset['weekday_number'] = dataset['Date'].apply(lambda x: x.weekday() + 1)

In [54]:
dataset

,Date,Quarter,Account ID,Account,Currency code,Cost,THB,USD,day,month,quarter,weekday,weekday_number
0,2019-07-01,2019 Q3,1060574409,Richy-Triple Station,THB,160,160,5,1.0,7,3,Monday,1
1,2019-07-01,2019 Q3,1093935845,Raimon Land - The Lofts Asoke,THB,315,315,10,1.0,7,3,Monday,1
2,2019-07-01,2019 Q3,1103734268,BINUS School - Serpong,IDR,"1,466",3,47,1.0,7,3,Monday,1
3,2019-07-01,2019 Q3,1109909698,Sammakorn - Suvarnabhumi (Townhome),THB,29,29,1,1.0,7,3,Monday,1
4,2019-07-01,2019 Q3,1144314293,JSP J City Sriracha,THB,95,95,3,1.0,7,3,Monday,1
5,2019-07-01,2019 Q3,1165328701,Skyline Condo,THB,96,96,3,1.0,7,3,Monday,1
6,2019-07-01,2019 Q3,1175519554,Bioderma_Product,THB,303,303,10,1.0,7,3,Monday,1
7,2019-07-01,2019 Q3,1231145684,Rubik Cube Phetkasem (TH),THB,77,77,2,1.0,7,3,Monday,1
8,2019-07-01,2019 Q3,1240530796,Q House - District + Casa Bangna kinagkaew,THB,13,13,0,1.0,7,3,Monday,1
9,2019-07-01,2019 Q3,1339535213,Raimon Land - The Diplomat 39,THB,28,28,1,1.0,7,3,Monday,1
10,2019-07-01,2019 Q3,1345461929,Habitat Ramada Mira (North Pattaya),THB,531,531,17,1.0,7,3,Monday,1
11,2019-07-01,2019 Q3,1359001505,Universitas Tunas Pembangunan,IDR,"1,136",3,36,1.0,7,3,Monday,1
12,2019-07-01,2019 Q3,1394808599,Marvest HuaHin Condo,THB,113,113,4,1.0,7,3,Monday,1
13,2019-07-01,2019 Q3,1442266703,Grow Condo Rattanathibet,THB,59,59,2,1.0,7,3,Monday,1
14,2019-07-01,2019 Q3,1600579762,Thanyada Plus,THB,69,69,2,1.0,7,3,Monday,1
15,2019-07-01,2019 Q3,1615748817,Prime Hotel - Wedding,THB,131,131,4,1.0,7,3,Monday,1
16,2019-07-01,2019 Q3,1670983415,Honda Rama 3,THB,131,131,4,1.0,7,3,Monday,1
17,2019-07-01,2019 Q3,1798372109,Toyota Korat,THB,52,52,2,1.0,7,3,Monday,1
18,2019-07-01,2019 Q3,1854364160,Prik Made By TODD,THB,59,59,2,1.0,7,3,Monday,1
19,2019-07-01,2019 Q3,2102421415,Q House - Casa City Rama5 - Pinklao,THB,165,165,5,1.0,7,3,Monday,1
20,2019-07-01,2019 Q3,2270533202,Cookly,THB,"1,188","1,188",38,1.0,7,3,Monday,1
21,2019-07-01,2019 Q3,2329144613,Misumi GDN & Remarketing,THB,53,53,2,1.0,7,3,Monday,1
22,2019-07-01,2019 Q3,2518357544,KA Cream,THB,658,658,21,1.0,7,3,Monday,1
23,2019-07-01,2019 Q3,2601009858,Q House - Casa City Ramkhamhaeng,THB,118,118,4,1.0,7,3,Monday,1
24,2019-07-01,2019 Q3,2655190944,The Houze(Khon kaen),THB,80,80,3,1.0,7,3,Monday,1
25,2019-07-01,2019 Q3,2695222419,Universitas Bakrie,IDR,"12,198",27,389,1.0,7,3,Monday,1
26,2019-07-01,2019 Q3,2695855096,Pruksa - PK147+154+155,THB,670,670,21,1.0,7,3,Monday,1
27,2019-07-01,2019 Q3,3007850198,Premier Asset - Ramkhamhang 118 Baan nawat,THB,211,211,7,1.0,7,3,Monday,1
28,2019-07-01,2019 Q3,3041374370,WE Condo,THB,67,67,2,1.0,7,3,Monday,1
29,2019-07-01,2019 Q3,3123002500,Q House - Gusto Rama5,THB,190,190,6,1.0,7,3,Monday,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28848,2019-01-01,2019 Q1,7365554226,Tman-pharma (Youtube),THB,"6,723","6,723",215,1.0,1,1,Monday,2
28849,2019-01-01,2019 Q1,7368796793,Baan Sita Wan,THB,988,988,32,1.0,1,1,Monday,2
28850,2019-01-01,2019 Q1,7449792266,CMC - Chateau in Town Sukhumvit 64/1,THB,625,625,20,1.0,1,1,Monday,2
28851,2019-01-01,2019 Q1,7677391162,Thanachart TA-Cancer-PA-Home Insurance,THB,439,439,14,1.0,1,1,Monday,2
28852,2019-01-01,2019 Q1,7700905064,Promaid,THB,385,385,12,1.0,1,1,Monday,2
28853,2019-01-01,2019 Q1,7822533480,Circle Sukhumvit 11,THB,503,503,16,1.0,1,1,Monday,2
28854,2019-01-01,2019 Q1,7887086047,Circle Sukhumvit 31,THB,926,926,30,1.0,1,1,Monday,2
28855,2019-01-01,2019 Q1,8104517760,Inti Data Utama,IDR,"41,067",91,"1,311",1.0,1,1,Monday,2
28856,2019-01-01,2019 Q1,8216308990,The Maple Pattaya,THB,546,546,17,1.0,1,1,Monday,2
28857,2019-01-01,2019 Q1,8363935664,Pruksa Ville - PKV107,THB,"2,807","2,807",90,1.0,1,1,Monday,2
28858,2019-01-01,2019 Q1,8425407147,Bioderma_Awareness,THB,"2,951","2,951",94,1.0,1,1,Monday,2
28859,2019-01-01,2019 Q1,8426072929,MJ-One_Chic-Office,THB,155,155,5,1.0,1,1,Monday,2
28860,2019-01-01,2019 Q1,8437600076,Fit in 25,THB,326,326,10,1.0,1,1,Monday,2
28861,2019-01-01,2019 Q1,8463693827,Pascasarjana Telkom University,IDR,"68,682",153,"2,192",1.0,1,1,Monday,2
28862,2019-01-01,2019 Q1,8494596513,"Lunio (Thailand) Co.,Ltd.",THB,698,698,22,1.0,1,1,Monday,2
28863,2019-01-01,2019 Q1,8677585786,Easy Buy - Umay+,THB,"13,063","13,063",417,1.0,1,1,Monday,2
28864,2019-01-01,2019 Q1,8758895195,Misumi Search Standard & RLSA,THB,72,72,2,1.0,1,1,Monday,2
28865,2019-01-01,2019 Q1,8887832943,Cote Maison Rama3,THB,331,331,11,1.0,1,1,Monday,2
28866,2019-01-01,2019 Q1,9066756644,Sumber Jaya Laser,IDR,"45,465",101,"1,451",1.0,1,1,Monday,2
28867,2019-01-01,2019 Q1,9173642568,KaoPorPeang Premium,THB,759,759,24,1.0,1,1,Monday,2
28868,2019-01-01,2019 Q1,9403792015,QNB Savings Festival,IDR,"392,297",871,"12,522",1.0,1,1,Monday,2
28869,2019-01-01,2019 Q1,9432901613,Sekolah Ciputra Surabaya,IDR,"131,092",291,"4,184",1.0,1,1,Monday,2
28870,2019-01-01,2019 Q1,9491973850,Bosch Autoparts,THB,953,953,30,1.0,1,1,Monday,2
28871,2019-01-01,2019 Q1,9506760140,Andaman Car rental (GDN),THB,274,274,9,1.0,1,1,Monday,2
28872,2019-01-01,2019 Q1,9569952533,Isuzu Hua Chiang Chan,THB,499,499,16,1.0,1,1,Monday,2
28873,2019-01-01,2019 Q1,9579400078,Baba Beach Club Residence,THB,792,792,25,1.0,1,1,Monday,2
28874,2019-01-01,2019 Q1,9733096266,UNIVERSITAS SAHID,IDR,"14,893",33,475,1.0,1,1,Monday,2
28875,2019-01-01,2019 Q1,9737450313,JSP JVilla Rangsit,THB,74,74,2,1.0,1,1,Monday,2
28876,2019-01-01,2019 Q1,9793768639,Toyota Nakornpathom,THB,410,410,13,1.0,1,1,Monday,2
28877,2019-01-01,2019 Q1,9934349858,Krungsri - Central The 1 Card,THB,"2,739","2,739",87,1.0,1,1,Monday,2

In [42]:
dataset['quarter'] = dataset['Date'].apply(lambda x: x.quarter)

In [55]:
dataset['weekday'] = dataset['weekday_number'].map({1:'Monday',
                                   2:'Tuesday', 
                                   3:'Wednesday', 
                                   4:'Thursday',
                                   5:'Friday',
                                   6:'Satrday',
                                   7:'Sunday'})

In [61]:
dataset.pivot_table(index='weekday',columns='month', values='THB', aggfunc='mean')

DataError: No numeric types to aggregate